@model AgentViewModel
@{
    ViewData["Title"] = "AddAgent";
}

<h1>AddAgent</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <form asp-action="AddAgent" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Şirket Ünvanı" asp-for="CompanyName">
                    <span asp-validation-for="CompanyName" class="form-text text-muted" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Kullanıcı Adı" asp-for="UserName">
                    <span asp-validation-for="UserName" class="form-text text-muted" style="color: red;"></span>
                </div>
                <input type="submit" class="btn btn-success" value="Kaydet"/>
            </form>
        </div>
    </div>
</div>

